<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>931957906327-94ocjkvqnf56cdaoftaq547e1fj2inrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931957906327-94ocjkvqnf56cdaoftaq547e1fj2inrk</string>
	<key>API_KEY</key>
	<string>AIzaSyAfK6IuGnpN5xl8-tRI3LtrPYYttwAuxeY</string>
	<key>GCM_SENDER_ID</key>
	<string>931957906327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rezzerve.rezzerveapp</string>
	<key>PROJECT_ID</key>
	<string>rezzerve-e7575</string>
	<key>STORAGE_BUCKET</key>
	<string>rezzerve-e7575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931957906327:ios:cd959ac83aee78c1</string>
	<key>DATABASE_URL</key>
	<string>https://rezzerve-e7575.firebaseio.com</string>
</dict>
</plist>