page-receipt {

    .receipt-page{
        background-image: url("../assets/imgs/pool_new.jpeg");
        background-size: cover;
        font-family:'Raleway';

    }

    .side-icon{
        width:80%;
        height:80%;
    }

}