<ion-header>
    <ion-navbar color="twitter">
      <ion-buttons left>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title >{{'Checkout' | translate}}</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>
  <ion-slides pager loop autoplay="5000" style="max-height:30%;" class="slider">
    <ion-slide *ngFor="let slide of slides" class="slider-slide">
      <img src="http://rezzerve-tech.com/PoolsServer/images/{{slide}}" imageViewer />
    </ion-slide>
  </ion-slides>
  
  <ion-card style="font-size: 8px;">
    <ion-card-content style="font-size: 15px;">
    
      <ion-item no-lines color="light">
        <strong>{{'Reservation Info' | translate}}</strong>
      </ion-item>
      
      <ion-row>
        <ion-col col-6 style="text-align:left">
          <img src="assets/icons/pool-1.svg" width="20px;" height="20px;" style="text-align:left">
        </ion-col>
        <ion-col col-6>
          {{selected.pool.pool_name}}
        </ion-col>
      </ion-row>
      <hr/>

      <ion-row>
        <ion-col col-6 style="text-align:left">
          <img src="assets/icons/calendar.svg" width="20px;" height="20px;" style="text-align:left">
        </ion-col>
        <ion-col col-6>
          {{userDate}}
        </ion-col>
      </ion-row>
      <hr/>

      <ion-row>
        <ion-col col-6 style="text-align:left">
          <img src="assets/icons/half-moon.svg" width="20px;" height="20px;" style="text-align:left">
        </ion-col>
        <ion-col *ngIf="selected.time == 'D'" col-6>
          {{'Morning' | translate}}
        </ion-col>
        <ion-col *ngIf="selected.time == 'N'" col-6>
          {{'Night' | translate}}
        </ion-col>
      </ion-row>
      <hr/>

      <ion-row *ngIf="!allDay">
        <ion-col col-6 style="text-align:left">
          <img src="assets/icons/alarm-clock.svg" width="20px;" height="20px;" style="text-align:left">
        </ion-col>
        <ion-col *ngIf="selected.time == 'D'" col-6>
          {{selected.pool.day_start_time}}AM to {{selected.pool.day_end_time}}PM
        </ion-col>
        <ion-col *ngIf="selected.time == 'N'" col-6>
          {{selected.pool.night_start_time}}PM to {{selected.pool.night_end_time}}AM
        </ion-col>
      </ion-row>
      <!--all day-->
      <ion-row *ngIf="allDay">
        <ion-col col-6 style="text-align:left">
          <img src="assets/icons/alarm-clock.svg" width="20px;" height="20px;" style="text-align:left">
        </ion-col>
        <ion-col *ngIf="selected.time == 'D'" col-6>
          {{selected.pool.all_day_start_time}}AM to {{selected.pool.all_day_end_time}}PM
        </ion-col>
        <ion-col *ngIf="selected.time == 'N'" col-6>
          {{selected.pool.all_day_start_time}}PM to {{selected.pool.all_day_end_time}}AM
        </ion-col>
      </ion-row>

      <ion-item no-lines color="light">
        <strong>{{'Payment Info' | translate}}</strong>
      </ion-item>

      <ion-row>
        <ion-col col-6 style="text-align:left">
          {{'Reservation' | translate}}
        </ion-col>
        <ion-col col-6 style="text-align:right">
          {{paymentInfo?.price}}BD
        </ion-col>
      </ion-row>
      <hr />

      <ion-row>
        <ion-col col-6 style="text-align:left">
          {{'Insurance' | translate}}
        </ion-col>
        <ion-col col-6 style="text-align:right">
          {{paymentInfo?.insurance}}BD
        </ion-col>
      </ion-row>
      <hr />

      <ion-row>
        <ion-col col-6 style="text-align:left">
          {{'Deposit' | translate}}
        </ion-col>
        <ion-col col-6 style="text-align:right">
          {{paymentInfo?.deposit}}BD
        </ion-col>
      </ion-row>

      <!--<ion-item no-lines color="light">
        <strong>Payment Method</strong>
      </ion-item>

      <button ion-button block item-left>
        <img src="assets/icons/credit-card.svg" width="20px;" height="20px;" style="text-align:left">
        Debit Card
      </button>-->

      <!-- Float the icon left -->
      <!--<button ion-button block outline item-left>
        <img src="assets/icons/visa.svg" width="20px;" height="20px;" style="text-align:left">
        Credit Card
      </button>-->

    </ion-card-content>
  </ion-card>

<div class="rules">     
{{'By completing this reservation, I agree to' | translate}} <a (click)="rules(0)">Rezzerve's</a> {{'and' | translate}} <a (click)="rules(1)">{{'pool' | translate}}</a> {{'Terms' | translate}} & {{'Conditions' | translate}}
</div>

</ion-content>

<ion-footer>
  <button ion-button block color="twitter" (click)="pay()">{{'Reserve Pool' | translate}}&nbsp;<strong>{{'NOW' | translate}}</strong></button>
</ion-footer>
